<html ng-app="myModule">
<head>
	<title> Intro to Gulp </title>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

	<div class="container" ng-controller="header">
		
		<h1> Hello this is Jhon Deo from Pheniox Arizona USA </h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="row">
			<div class="form-group">
				<label>Username</label>
				<input type="text" value="" name="username" ng-model="username" class="form-control" />
				<input type="button" value="submit" ng-click="submitData()" class="btn btn-success">
			</div>
		</div>
		<div class="row">
			{{ error }}
			<div class="col-sm-4" ng-repeat="user in users">
				<h2>{{ user.name }}</h2>
				<h3>age : {{ user.age }}</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();   
	});
	</script>
</body>
</html>