<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<div class="col-sm-1"><a href="/auth/login">Login</a></div>
		<div class="col-sm-1"><a href="/auth/logout">Logout</a></div>
		<div class="col-sm-10"></div>


		<div class="clearfix"></div>
		<div class="col-sm-6">
			Loggin using
			<a href="/auth/google">Google +</a>
		</div>
	</div>





</body>
</html>