- var arr = ["One", "Two", "Three"];
doctype html
html
	head
		title "This is a Jade Template"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
	body
		header.container
			h1 My Site
		.container#myid
			.main-content
				-for(var i = 0; i < 3; i++)
					li= arr[i]
			a(href="http://www.google.com")
				Click for Google